.partner {
    margin-top: clamp(rem(50), 11vw, rem(130));
    @include scroll(0s, 50, 0);
    /* .partner__container */

    &__container {}

    /* .partner__title */

    &__title {
        text-align: center;
        font-size: rem(27);
        line-height: 120%;
        text-transform: uppercase;

        & span {
            font-size: rem(22);
            line-height: 147%;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    /* .partner__body */

    &__body {
        margin: rem(47) auto 0 auto;
        height: rem(94);
        max-width: rem(1023);
    }

    /* .partner__img */

    &__img {}
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}